@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.todo-list {
    width: 100%;
    max-width: 630px;
    margin: 15px auto 0;
    padding: 0 15px;

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $white;
        border: 2px solid $blue;
        border-bottom: 0;
        padding: 15px 25px;

        &:first-child {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

        &:last-child {
            border-bottom: 2px solid $blue;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        @include phone {
            padding: 10px;
        }
    }

    &__checkbox-wrap {
        position: relative;
        width: 20px;
        flex-shrink: 0;
        margin-right: 15px;

        @include phone {
            margin-right: 7px;
        }
    }

    &__checkbox {
        display: none;

        &:checked + .todo-list__checkbox-box {
            width: 12px;
            border-width: 4px;
            border-top: 0;
            border-left: 0;
            border-color: $green;
            transform: rotate(45deg);
            margin-top: -3px;

            @include phone {
                width: 8px;
                border-width: 2px;
            }
        }
    }

    &__checkbox-box {
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid $blue;
        margin: auto;
        transition: all ease 0.3s;
        cursor: pointer;

        @include phone {
            width: 15px;
            height: 15px;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 22px;
        flex-grow: 1;

        &--line {
            text-decoration: line-through;
        }

        @include phone {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__delete {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border: none;
        background: none;
        margin-left: 15px;
        cursor: pointer;

        svg {
            min-width: 20px;
            width: 20px;
            height: 20px;
            fill: $blue;
            transition: fill ease 0.3s;
        }

        &:hover {
            svg {
                fill: $red;
            }
        }
    }
 }